<template name="ModerateTextBooks">
  {{#IfLoggedIn}}


  <a href="{{pathFor 'AddTextBooks'}}" class="btn btn-info pull-right" role="button">Add New Textbook</a>
  {{#each listTextBooks}}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <div class="row">
      <h2>{{title}}</h2>

        <div class="col-sm-6">
          <img src="http://placehold.it/150x150">
        </div>

        <div class="col-sm-6">
          <ul>
            <li>{{author}}</li>
            <li>{{ISBN}}</li>
          </ul>
          {{#if isInRole 'admin'}}
          <a href="{{pathFor 'EditTextBooks'}}">Edit</a>
          <a href="{{pathFor 'AddTextBooks'}}" class="deleteTextBook" role="button">Remove</a>
          {{/if}}
        </div>
      </div>

    </div>

  </div>

  {{/each}}
  {{/IfLoggedIn}}
</template>

