<template name="ModerateTextBooks">
  {{#IfLoggedIn}}

    {{> AllBooks}}

  {{/IfLoggedIn}}
</template>

<template name="AllBooks">
  {{#each listTextBooks}}
    {{> bookRow}}
  {{/each}}
</template>

<template name="bookRow">
  {{#each row}}
    {{> bookElement}}
  {{/each}}
</template>

<template name="bookElement">
  <div class="col-sm-6">
    <div class="row box" style="min-height: 280px; padding-top: 10px; border-radius: 25px">
      <h2>{{title}}</h2>

      <div class="col-sm-6">
        <div class="ListTextbookImage">
          <a href="#">
            <img src="{{cover}}"/>
          </a>
        </div>
      </div>

      <div class="col-sm-6 vertical-align">

        Author: {{author}}<br>
        ISBN-10: {{ISBN10}}<br>
        ISBN-13: {{ISBN13}}<br>

        {{#if hasOffers}}
        Buy Offers: {{getBuyOffersCount}}<br>
        Sell Offers: {{getSellOffersCount}}<br>
        {{else}}
        <br>
        Currently no offers!<br>
        {{/if}}

        <!-- Trigger the modal with a button -->
        {{#if hasOffers}}
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal{{ISBN13}}">View
          Offers</button>
        {{/if}}

        <!-- Modal -->
        <div class="modal fade" id="myModal{{ISBN13}}" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Offers</h4>
              </div>
              <div class="modal-body">

                <ul class="nav nav-tabs">
                  <li class="active"><a href="#home{{ISBN13}}">Buy Offers</a></li>
                  <li><a href="#menu1{{ISBN13}}">Sell Offers</a></li>

                </ul>

                <div class="tab-content">
                  <div id="home{{ISBN13}}" class="tab-pane fade in active">
                    <table class="table table-striped">
                      <tbody>
                      <tr>
                        <th>Condition</th>
                        <th>Price</th>
                        <th>Expiration</th>
                      </tr>

                      {{#each listAllBuyOffers}}
                      <tr>
                        <td>{{condition}} </td>
                        <td>{{price}}</td>
                        <td>{{expiration}}</td>
                      </tr>
                      {{/each}}
                      </tbody>
                    </table>
                  </div>

                  <div id="menu1{{ISBN13}}" class="tab-pane fade">
                    <table class="table table-striped">
                      <tbody>
                      <tr>
                        <th>Condition</th>
                        <th>Price</th>
                        <th>Expiration</th>
                      </tr>

                      {{#each listAllSellOffers}}
                      <tr>
                        <td>{{condition}} </td>
                        <td>{{price}}</td>
                        <td>{{expiration}}</td>
                      </tr>
                      {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>

                <script>
                  $(document).ready(function(){
                    $(".nav-tabs a").click(function(){
                      $(this).tab('show');
                    });
                    $('.nav-tabs a').on('shown.bs.tab', function(event){
                      var x = $(event.target).text();         // active tab
                      var y = $(event.relatedTarget).text();  // previous tab
                      $(".act span").text(x);
                      $(".prev span").text(y);
                    });
                  });
                </script>




              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>


        {{#if isInRole 'admin'}}

        <button type="button" href="{{pathFor 'EditTextBooks'}}" class="editTextBook btn btn-sm btn-info">Edit</button>
        <button type="button" href="{{pathFor 'AddTextBooks'}}" class="btn deleteTextBook btn-info btn-sm">Remove
        </button>

        {{/if}}
      </div>
    </div>
  </div>
</template>

