<template name="StudentProfile">
  {{#IfLoggedIn}}
  <div class="container">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <img src="{{ currentUser.profile.profileImage }}" class="img-rounded center-block" height="100" width="100"><br>
      <p>First Name : {{currentUser.profile.firstName}}</p>
      <p>Last Name : {{currentUser.profile.lastName}}</p>
      <p>Email : {{currentUser.profile.email}}</p>
      <p>Contact by email: {{currentUser.profile.contact}}</p>

      <p><a href="{{pathFor 'EditProfile'}}">Edit</a></p>
    </div>
    <div class="col-sm-3"></div>
  </div>
  {{/IfLoggedIn}}
</template>
