<template name="About">
  <div class="aboutHome">
    <h1 class="pink-color">About this site</h1>

    <div class="container">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <h3>Goal</h3>

        <p>To help ICS students to exchange (buy/sell) their textbooks with each other.</p>
      </div>
      <div class="col-sm-5">
        <h3>Site Features</h3>

        <p>You must be a UH Manoa student to use our buy and selling features.</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="container">
      <div class="col-sm-4">
        <h4>Buy Offers</h4>

        <p>If you are looking for a textbook you can create a buy offer and will be notified via matches if there is a
          seller for the book that you want. This is essentially your textbook wishlist.</p>
      </div>
      <div class="col-sm-4">
        <h4>Sell Offers</h4>

        <p>If you would like to sell your textbook you can create a sell offer and post what kind of condition your
          book
          is
          in and how much you would like for your book. You may also see people who would like to buy your book in
          matches. </p>
      </div>
      <div class="col-sm-4">
        <h4>Matches</h4>

        <p>If you have posted a Buy or Sell Offer then in your matches section you will be able to see people who meet
          your
          needs. For example, if you have a Buy Offer for a book "A" then this section will show you all the people
          who
          are
          selling book "A" and you can select and accept their Sell Offer. The same thing works for a Sell offer. This
          section is the textbook matchmaker.</p>

      </div>
    </div>
  </div>
</template>