<template name="Help">

    <h1 class="pink-color">To use the Misty Rose Textbook Mania</h1>
    <div class="container">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <ol>
          <li><h4>Login</h4> using your University of Hawaii account information.</li>
          <li><h4>Set up your profile information:</h4> full name, picture, if you would like to notified by email.</li>
          <li><h4>Create buy and sell offers</h4> based on your textbook needs.</li>
          <li><h4>Check matches</h4> with other users to find buyers and sellers of your desired book.</li>
        </ol>
      </div>
      <div class="col-sm-3"></div>
    </div>

</template>