<template name="Home">

  {{#if currentUser}}
  <div class="homeColumns">
    <div class="container">
      <div class="col-md-3">
        <div class="well">
          {{> BuyOffers}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h1>Welcome {{ currentUser.profile.name }}!</h1>

          <p>Textbook matches here.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          {{> SellOffers}}
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="welcome">
  <h1>Please login to continue.</h1>
  </div>
  {{/if}}

</template>
