<template name="StudentProfile">
  {{#IfLoggedIn}}
    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        {{#each studentProfile}}
          <tr>
            <td>{{firs}}</td>
            <td>{{last}}</td>
            <td>{{email}}</td>
            <td><a href="{{pathFor 'EditStudents'}}">Edit</a></td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
