<template name="SellOffers">
    {{#IfLoggedIn}}

        <div class="well">

            {{> quickForm
            collection="SellOffers"
            template="bootstrap3-horizontal"
            label-class="col-sm-2"
            input-col-class="col-sm-10"

            id="SellOfferForm"
            type="method"
            meteormethod="addSellOffers"
            doc=this
            buttonContent="Update"
            omitFields="creator, accepted"}}
        </div>



    {{/IfLoggedIn}}
</template>